<!DOCTYPE html>
<html>
<head>
	<title>
		todo-app 
	</title>


	
</head>
<body>
	<%= message %>   <br><br>
    <input id="todo-input" type="text">

    <button onclick="addNewItem()">Add new item</button>

    <button onclick="fetchTodos()">fetch todos from server</button>

    <ul id="todo-list">
    
    </ul>
    
    <script type="text/javascript" src="/libraries/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
    <script type="text/javascript" src="/js/display.js"></script>
</body>
</html>